<article style="height: 100%;">
    <section>
        <h1>Odyssey Mercenaries With ngFor</h1>
    </section>
    <section style="height: 100%">
        <section style="height: 350px; background-color: gray;">
            <ul class="mercenariesList" style="overflow-y: scroll; height: inherit">
                <li *ngFor="let mercenary of mercenaries">
                    <div style="background-color: darkcyan; width: 100%;">
                        <h4 style="color: white">
                            {{mercenary.name}} , {{mercenary.title}} , {{mercenary.alliance}} , {{mercenary.province}}
                        </h4>
                    </div>
                </li>
            </ul>
        </section>
        <br>
        <section style="height: 350px; background-color: darkgrey; ">
            <ul class="mercenariesList" style="overflow: auto; height: inherit;">
                <li *ngFor="let mercenary of mercenaries" (click)= "onSelect(mercenary)">
                    <section>
                        <div style="background-color: black; width: 100%;">
                            <h4 style="color: red">
                                {{mercenary.name}}
                            </h4>
                        </div>
                        <div style="display: block;">
                            <div>
                                <label for = "mercenary-name" style = "color: cyan;">{{mercenary.name}} : </label>
                            </div>
                            <div>
                                <label for="mercenary-title"> Title: {{mercenary.title}}</label>
                            </div>
                            <div>
                                <label for="mercenary-alliance"> Alliance: {{mercenary.alliance}}</label>
                            </div>
                            <div>
                                <label for="mercenary-province"> Province: {{mercenary.province}}</label>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
        </section>
    </section>
</article>